.lecturer-pov-interactive,
.lecturer-pov-interactive * {
  box-sizing: border-box;
}
.lecturer-pov-interactive {
  background: #202124;
  height: 800px;
  position: relative;
  overflow: hidden;
}
.img-4996-1 {
  border-radius: 70px;
  width: 360px;
  height: 342px;
  position: absolute;
  left: 0px;
  top: 13px;
  box-shadow: 0px 3px 9px 9px rgba(0, 0, 0, 0.71);
  object-fit: cover;
}
.opera-snapshot-2024-03-14-162111-meet-google-1 {
  width: 369px;
  height: 164px;
  position: absolute;
  left: -4px;
  top: 363px;
  object-fit: cover;
}
.rectangle-19 {
  background: #272727;
  border-radius: 49px;
  border-style: solid;
  border-color: #eebdf5;
  border-width: 1px;
  width: 360px;
  height: 335px;
  position: absolute;
  left: 0px;
  top: 515px;
}
.rectangle-11 {
  background: #e8e8e8;
  border-radius: 16px;
  width: 71px;
  height: 26px;
  position: absolute;
  left: calc(50% - 81px);
  top: 527px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-20 {
  background: #e8e8e8;
  border-radius: 16px;
  width: 71px;
  height: 26px;
  position: absolute;
  left: calc(50% - -13px);
  top: 526px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.camera {
  color: #000000;
  text-align: center;
  font-family: "Karma-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 108px;
  top: 532px;
  width: 53px;
  height: 23px;
}
.qardhawi-hello-sir-ziyad-hi-sir-wani-sir-can-you-explain-it-once-more-qardhawi-yes-once-more-sir {
  color: #ffffff;
  text-align: left;
  font-family: "Karma-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 22px;
  top: 589px;
  width: 313px;
  height: 128px;
}
.mic {
  color: #000000;
  text-align: center;
  font-family: "Karma-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 202px;
  top: 531px;
  width: 53px;
  height: 23px;
}
.live-chat {
  color: #ffffff;
  text-align: left;
  font-family: "Karma-Bold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 22px;
  top: 566px;
  width: 101px;
  height: 23px;
}
.logo-3-1 {
  width: 360px;
  height: 183px;
  position: absolute;
  left: 0px;
  top: 617px;
  object-fit: cover;
}
.ellipse-3 {
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 740px;
}
.ellipse-4 {
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 124px;
  top: 740px;
}
.ellipse-5 {
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 200px;
  top: 740px;
}
.ellipse-6 {
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 280px;
  top: 750px;
}
