.cognitive,
.cognitive * {
  box-sizing: border-box;
}
.cognitive {
  background: #eebdf5;
  height: 800px;
  position: relative;
  overflow: hidden;
  mix-blend-mode: plus-lighter;
}
.logo-3-1 {
  width: 360px;
  height: 183px;
  position: absolute;
  left: 0px;
  top: 617px;
  object-fit: cover;
}
.ellipse-3 {
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 740px;
}
.ellipse-4 {
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 124px;
  top: 740px;
}
.ellipse-5 {
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 200px;
  top: 740px;
}
.ellipse-6 {
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 280px;
  top: 750px;
}
.logo-2-1 {
  width: 162px;
  height: 132px;
  position: absolute;
  left: calc(50% - 196px);
  top: calc(50% - 400px);
  object-fit: cover;
}
.cognitive-skills {
  color: #000000;
  text-align: center;
  font-family: "Graduate-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 30px;
  top: 140px;
}
.cog-1 {
  width: 92px;
  height: 90px;
  position: absolute;
  left: 258px;
  top: 21px;
  mix-blend-mode: darken;
  object-fit: cover;
}
.include-problem-solving-creativity-imagination-and-memory {
  color: #000000;
  text-align: center;
  font-family: "Podkova-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 176px;
  width: 312px;
}
.vygotsky-s-theory-of-cognitive-development-in-social-relationships {
  color: #000000;
  text-align: center;
  font-family: "Podkova-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 204px;
  top: 427px;
  width: 156px;
}
.screenshot-486-1 {
  width: 228px;
  height: 105px;
  position: absolute;
  left: -7px;
  top: 564px;
  object-fit: cover;
}
.screenshot-484-1 {
  width: 192px;
  height: 107px;
  position: absolute;
  left: 11px;
  top: 249px;
  mix-blend-mode: plus-darker;
  object-fit: cover;
}
.the-importance-of-cognitive-development {
  color: #000000;
  text-align: center;
  font-family: "Podkova-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 203px;
  top: 256px;
  width: 147px;
}
.piaget-theory-of-cognitive-development {
  color: #000000;
  text-align: center;
  font-family: "Podkova-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 212px;
  top: 581px;
  width: 146px;
}
.screenshot-490-1 {
  width: 192px;
  height: 145px;
  position: absolute;
  left: 11px;
  top: 230px;
  object-fit: cover;
}
.screenshot-491-1 {
  width: 193px;
  height: 136px;
  position: absolute;
  left: 10px;
  top: 395px;
  object-fit: cover;
}
.emotional {
  background: #eebdf5;
  width: 360px;
  height: 800px;
  position: absolute;
  left: -1347px;
  top: 905px;
  overflow: hidden;
  mix-blend-mode: plus-lighter;
}
.emotional2 {
  color: #000000;
  text-align: center;
  font-family: "Graduate-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 81px;
  top: 140px;
}
.emo-1 {
  width: 70px;
  height: 80px;
  position: absolute;
  left: 270px;
  top: 26px;
  mix-blend-mode: darken;
  object-fit: cover;
}
.a-child-creates-emotional-connections-and-develops-self-confidence {
  color: #000000;
  text-align: center;
  font-family: "Podkova-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 176px;
  width: 312px;
}
.emotions-for-kids-happiness-sadness-fear-anger-disgust-and-surprise {
  color: #000000;
  text-align: center;
  font-family: "Podkova-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 204px;
  top: 427px;
  width: 156px;
}
.screenshot-486-12 {
  width: 228px;
  height: 105px;
  position: absolute;
  left: -9px;
  top: 554px;
  object-fit: cover;
}
.screenshot-485-1 {
  width: 192px;
  height: 107px;
  position: absolute;
  left: 11px;
  top: 400px;
  mix-blend-mode: darken;
  object-fit: cover;
}
.social-emotional-learning-videos-for-kids-self-awareness-strengths {
  color: #000000;
  text-align: center;
  font-family: "Podkova-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 203px;
  top: 256px;
  width: 147px;
}
.social-and-emotional-learning-sel-kids-i-m-frustrated {
  color: #000000;
  text-align: center;
  font-family: "Podkova-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 212px;
  top: 581px;
  width: 146px;
}
.early {
  background: #eebdf5;
  width: 360px;
  height: 800px;
  position: absolute;
  left: -1844px;
  top: 905px;
  overflow: hidden;
  mix-blend-mode: plus-lighter;
}
.physical {
  color: #000000;
  text-align: center;
  font-family: "Graduate-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 142px;
  top: 343px;
}
.emotional3 {
  color: #000000;
  text-align: center;
  font-family: "Graduate-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 142px;
  top: 230px;
}
.phy-1 {
  width: 96px;
  height: 83px;
  position: absolute;
  left: 17px;
  top: 301px;
  mix-blend-mode: darken;
  object-fit: cover;
}
.lan-1 {
  width: 74px;
  height: 65px;
  position: absolute;
  left: 31px;
  top: 414px;
  mix-blend-mode: darken;
  object-fit: cover;
}
.cog-12 {
  width: 92px;
  height: 90px;
  position: absolute;
  left: 28px;
  top: 540px;
  mix-blend-mode: darken;
  object-fit: cover;
}
.languages {
  color: #000000;
  text-align: center;
  font-family: "Graduate-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 142px;
  top: 443px;
}
.cognitive-skills2 {
  color: #000000;
  text-align: center;
  font-family: "Graduate-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 142px;
  top: 576px;
}
.primary-education {
  color: rgba(171, 58, 189, 0.92);
  text-align: center;
  font-family: "PaytoneOne-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: 126px;
  width: 329px;
}
.emo-12 {
  width: 70px;
  height: 80px;
  position: absolute;
  left: 30px;
  top: 190px;
  mix-blend-mode: darken;
  object-fit: cover;
}
