.lecturer-pov-lecture,
.lecturer-pov-lecture * {
  box-sizing: border-box;
}
.lecturer-pov-lecture {
  background: #202124;
  height: 800px;
  position: relative;
  overflow: hidden;
}
.rectangle-19 {
  background: #272727;
  border-radius: 49px;
  border-style: solid;
  border-color: #eebdf5;
  border-width: 1px;
  width: 360px;
  height: 335px;
  position: absolute;
  left: 0px;
  top: 502px;
}
.qardhawi-hello-sir-ziyad-hi-sir-wani-sir-can-you-explain-it-once-more-qardhawi-yes-once-more-sir {
  color: #ffffff;
  text-align: left;
  font-family: "Karma-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 22px;
  top: 576px;
  width: 313px;
  height: 128px;
}
.live-chat {
  color: #ffffff;
  text-align: left;
  font-family: "Karma-Bold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  left: 22px;
  top: 553px;
  width: 101px;
  height: 23px;
}
.logo-3-1 {
  width: 360px;
  height: 183px;
  position: absolute;
  left: 0px;
  top: 617px;
  object-fit: cover;
}
.ellipse-3 {
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 740px;
}
.ellipse-4 {
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 124px;
  top: 740px;
}
.ellipse-5 {
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 200px;
  top: 740px;
}
.ellipse-6 {
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 280px;
  top: 750px;
}
.img-4996-1 {
  border-radius: 70px;
  width: 360px;
  height: 451px;
  position: absolute;
  left: 0px;
  top: 25px;
  box-shadow: 0px 3px 9px 9px rgba(0, 0, 0, 0.71);
  object-fit: cover;
}
